---
import '@repo/ui/globals.css'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
const ogImage = new URL('/open-graph.png', Astro.url).toString()
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" href="/favicon.ico" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogImage} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap"
      rel="stylesheet"
    />
    {
      import.meta.env.PROD && (
        <script
          async
          defer
          src="https://analytics.hendraaagil.dev/script.js"
          data-website-id="1a383cd2-c61c-407d-b23c-24d89029bbcd"
        />
      )
    }
  </head>
  <body class="bg-background min-h-screen font-[Gabarito] antialiased">
    <slot />
  </body>
</html>
